@charset "UTF-8";
/* CSS Document */


 /* ==========================================================================
    BASE STYLES
    ========================================================================== */

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;	
}

.wrapper {
	flex: 5;	
}

.title {
	background-color: #000000;	
	color: #ffffff;
	overflow: auto;
	flex: 1;	
}

.footer {
	background-color: #000000;
	color: #ffffff;	
	flex: 1;
	align-content: center;
}


 /* ==========================================================================
    Navagation 
    ========================================================================== */

nav {
	text-align: center;
}


li {
	list-style: none;
	display: block;
	margin: 5%; 
}

nav a{
    display:inline-block;
}


 /* ==========================================================================
    Contact Page Form
    ========================================================================== */
 
 .submitForm {
	 display: inline-block;
 }
 
 .useremail {
	 width: 50%;
 }
 
 
 /* ==========================================================================
    About Page Style
    ========================================================================== */ 
 
 .me {
	display: inline-block;
	width: 30%;
 }
 
 .aboutMe {
	width: 60%;	 
 }
 
 
 /* ==========================================================================
    Media 
    ========================================================================== */
	
	@media only screen and (min-width: 994px) {
	
	.wrapper {
	flex: 9;	
	}
	
	.title {
	flex: 1;	
	}
		
	li {
	list-style: none;
	display: inline; 
	}
	
	.footer {
	flex: 1;	
	}	
	
		
	}